h1 {
  text-align: center;
}

.container {
  margin: auto;
  width: 400px;
  height: 450px;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
}

.display {
  height: 100px;
  box-sizing: border-box;
  margin: 12px;
  padding-right: 50px;
  align-content: center;
  border: 1px solid black;
}

.display-text {
  font-size: 20px;
  font-weight: bold;
  text-align: right;
}

.sub-container {
  height: 100%;
  margin: 12px;
  display: flex;
  gap: 12px;
}

.number-container {
  flex: 3;
  display: flex;
  gap: 10px;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
}

.numbers {
  width: 30%;
}

.zero {
  flex: 1 1 100%;
}

.operator-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.operator-container button {
  flex: 1;
}
