h1 {
  text-align: center;
}

.container {
  margin: auto;
  width: 400px;
  height: 450px;
  display: flex;
  flex-direction: column;
  
  border: 2px solid black;
}

.display {
  width: 100%;
  height: 100px;
  box-sizing: border-box;
  padding-left: 50px;
  align-content: center;
  border-bottom: 2px solid black;
}

.sub-container {
  height: 100%;
  margin: 4px;
  display: flex;
  gap: 12px;
}

.number-container {
  flex: 3;
  display: flex;
  gap: 10px;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
}

.number-container button {
  width: 30%;
}

.button-0 {
  flex: 1 1 100%;
}

.operator-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.operator-container button {
  flex: 1;
}